#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkblue;

}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin: 2px;
  border: 1px solid #000;
  text-transform: uppercase;
}

text {
  color: white;
}

.frog::before {
  content: "🐸";
  font-size: 25px;
}

.frog {
  background-color: green;
}

.row-12 {
  background-color: purple;
}

.row-0 .col-0,
.row-0 .col-2,
.row-0 .col-4,
.row-0 .col-6,
.row-0 .col-8,
.row-0 .col-10 {
  background-color: brown;
}

.row-0 .col-1::before,
.row-0 .col-3::before,
.row-0 .col-5::before,
.row-0 .col-7::before,
.row-0 .col-9::before {
  content: "🐸";
  background-color: blue;
  line-height: 40px;
  width: 40px;
  font-size: 25px;

}

.row-11,
.row-10,
.row-9,
.row-8,
.row-7 {
  background-color: #000;
}

.row-6 {
  background-color: purple;
}

.row-5,
.row-4,
.row-3,
.row-2,
.row-1 {
  background-color: blue;
}